{% extends 'base.html.twig' %}

{% block title %}Bienvenue jeune Padawan!{% endblock %}

{% block body %}
<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        
        <div class="row justify-content-end">
            <div class="col-auto">
                <form class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Rechercher">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
                </form>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary" onclick="afficher()">Afficher tout</button>
            </div>
        </div>

        <div class="section-title">
          <h2>{{filtre_titre}}</h2>
        </div>

        <div class="row">
            <div class="col" style="display:none;">
                <p>Affichage de n résultat(s)</p>
                <table class="table">
                <thead>
                    <tr>
                    <th>Colonne 1</th>
                    <th>Colonne 2</th>
                    <th>Colonne 3</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Ligne 1 - Colonne 1</td>
                    <td>Ligne 1 - Colonne 2</td>
                    <td>Ligne 1 - Colonne 3</td>
                    <td>
                        <a href="#"><i class="bi bi-info-circle"></i></a>
                    </td>
                    </tr>
                    <tr>
                    <td>Ligne 2 - Colonne 1</td>
                    <td>Ligne 2 - Colonne 2</td>
                    <td>Ligne 2 - Colonne 3</td>
                    <td>
                        <a href="#"><i class="bi bi-info-circle"></i></a>
                    </td>
                    </tr>
                    <!-- Ajoutez d'autres lignes fictives ici -->
                </tbody>
                </table>
            </div>
            <div class="col" id="loadingDiv" style="display:none;">
                <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Chargement en cours...</span>
                </div>
                </div>
            </div>
        </div>

        
      </div><!--end container-->
    </section><!-- End About Section -->
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
function afficher()
{
    $('#loadingDiv').show();
    var filtre = '{{filtre}}' ; 
    $.ajax({
        url: "{{ path('app_afficher') }}",
        type: 'POST',
        data: { filtre: filtre },
        success: function(response) {
            // Masquer le div d'attente
            $('#loadingDiv').hide();
        
        // Afficher les résultats
        $('#results').html(response);
        },
        error: function() {
        // En cas d'erreur, masquer le div d'attente et afficher un message d'erreur
        $('#loadingDiv').hide();
        $('#results').html('Une erreur s\'est produite.');
        }
    });
}//fin afficher
</script>
{% endblock %}